html, body {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

body {
  background: #bfe0df;
}

.wrapper {
  height: 100vh;
  margin: auto;
  max-height: calc(100vh - 40px);
  max-width: 968px;
  text-align: center;
  width: 75vw;
}

.wrapper h1 {
  color: #586f7c;
}

.wrapper > div {
  border-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .25);
  margin-bottom: 40px;
}

.wrapper > div:nth-child(odd) {
  background: #d6f8d6;
  color: #0d1321;
}

.wrapper > div:nth-child(even) {
background: #0d1321;
color: #d6f8d6;
}

#day {
  font-size: 2em;
  line-height: 2;
}

#day span {
  color: orange;
  font-weight: bolder;
}

#day span:not(:first-child) {
  color: red;
}

#time {
  font-weight: bold;
  padding-bottom: 1.25em;
}

#info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
}

#info-container  div {
  min-height: 30vh;
  min-width: 25vw;
  max-width: 30vw;
}

#info-container div:nth-child(odd) {
  background: #d6f8d6;
  color: #0d1321;
}

#info-container div:nth-child(even) {
  background: #0d1321;
  color: #d6f8d6;
}
